[window]

opacity = 0.9

padding.x = 10
padding.y = 10

decorations = "Full"

decorations_theme_variant = "Dark"

[font]
normal.family = "JetBrainsMono NFP"
bold.family = "JetBrainsMono NFP"
italic.family = "JetBrainsMono NFP"
bold_italic.family = "JetBrainsMono NFP"

# machine-specific configuration
{{- if eq .chezmoi.hostname "arch-frame" }}
# this will only be included in ~/.config/alacritty/alacritty.toml on arch-frame
size = 11 
{{- else }}
# this will be included in ~/.config/alacritty/alacritty.toml on all other machines
size = 12 
{{- end }}

[env]
{{- if eq .chezmoi.hostname "arch-frame" }}
# this will only be included in ~/.config/alacritty/alacritty.toml on arch-frame
WINIT_X11_SCALE_FACTOR = "1.66"

{{- else }}
# this will be included in ~/.config/alacritty/alacritty.toml on all other machines
WINIT_X11_SCALE_FACTOR = "1"
{{- end }}

[keyboard]
bindings = [
{ key = "v",        mods = "Super", action = "Paste" }
]
